---
import ProjectCard from "./ui/ProjectCard.astro";

const data = [
  {
    title: "ECS React Assessment Platform ",
    description:
      "A robust live coding assessment platform integrating StackBlitz, designed to efficiently evaluate interview candidates' technical skills.",
    image: [
      "/assets/projects/ecs/1.png",
      "/assets/projects/ecs/2.png",
      "/assets/projects/ecs/3.png",
    ],
    tools: "ReactJS, Tailwind",
    date: "July 2025",
  },
  {
    title: "Humanato admin",
    description:
      "The administrative control panel for the Humanato app, enabling managers to oversee critical operations with dark theme support.",
    image: ["/assets/projects/humanato/1.png"],
    tools: "ReactJS, Tailwind",
    date: "July 2025",
  },
  {
    title: "TideHub apps suite",
    description:
      "A comprehensive business management solution (LMS) with an intuitive admin panel, a delivery management application, and a customer-facing app.",
    image: ["/assets/projects/p-1-metro.png"],
    tools: "ReactJS, Tailwind, ElectronJS",
    date: "July 2023 - presasnt",
  },
  // {
  //   title: "JSON translator",
  //   description:
  //     "Empowering developers to seamlessly implement internationalization and localization on their websites.",
  //   image: "/assets/projects/p1-jsontranslator.png",
  //   tools: "ReactJS, TypeScript, Tailwind, CAT application, dev tool",
  //   date: "Nov 2023",
  // },
];
---

<section id="projects" class="box-border mt-4">
  <h1 class="text-2xl font-black text-center gradient-text">Recent projects</h1>
  <hr class="mx-auto mt-4 border-orange-200" />
  <div class="box-border w-full py-2 caresol md:flex-row md:px-24">
    {
      data.map((project) => (
        <ProjectCard
          title={project?.title}
          description={project?.description}
          image={project?.image}
          tools={project?.tools}
          date={project?.date}
        />
      ))
    }
  </div>
</section>
