---
import ProjectCard from "./ProjectCard.astro";

const data = [
  {
    title: "Web devGuru",
    description:
      "Collection of react/javascript code snippets for developers with attractive UI along with level based tutorials",
    image: "/assets/og-image.png",
    tools: "AstroJS ,ReactJS, Tailwind",
    date: "Ongoing 2023",
  },

  {
    title: "Metro Apps Suite",
    description:
      " A complete solution for day to day bushiness challenges of LMS with admin panel. delivery boy app, costumer app.",
    image: "/assets/projects/p-1-metro.png",
    tools: "ReactJS, Tailwind, ElectronJS",
    date: "April 2023",
  },
  {
    title: "I18 translator",
    description:
      "I18 translator is a react based desktop application using taury to enable internationalization of a website using i18next JS.",
    image: "/assets/projects/p2-i18.png",
    tools: "ReactJS, Tailwind, Taury",
    date: "May 2023",
  },
];
---

<section id="projects" class="box-border mt-4">
  <h1 class="text-2xl font-black text-center gradient-text">Recent projects</h1>
  <hr class="mx-auto mt-4 border-orange-200" />
  <div class="box-border w-full py-2 caresol md:flex-row md:px-24">
    {
      data.map((project) => (
        <ProjectCard
          title={project?.title}
          description={project?.description}
          image={project?.image}
          tools={project?.tools}
          date={project?.date}
        />
      ))
    }
  </div>
</section>
