---
const { title, link, image, description } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="work-item flex border overflow-hidden rounded-md p-2 flex-col items-center justify-center work-item m-2 sm:flex-row hover:saturate-100 md:saturate-0 duration-200 fade-in"
>
  <img src={image} width="100px" alt={title} />
  <div class="mx-4 text-center md:text-left">
    <h1 class="font-bold text-xl">
      {title}
    </h1>

    <p class="text-xs block">
      {description}
    </p>
  </div>
</a>
